# labs-dash deploy configuration
AWS_PROFILE=
AWS_REGION=ap-southeast-1
S3_BUCKET=labs-dash-site
CLOUDFRONT_DIST_ID=
# Email allowed to use drag-and-drop re-tiering (build-time, VITE_ prefix = public)
VITE_OWNER_EMAIL=ng_shangru@tech.gov.sg
